<ion-header [translucent]="true">
  <ion-toolbar class="degradado">
    <ion-title size="large">registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fondo">
<div class="center">

  <ion-card  style = "margin-top: 40px;"class="fondo">
    
    <ion-img src="assets/sign-up.svg" ></ion-img>



    <ion-item class="fondo input ion-margin-top" lines="none">
      <ion-input label="Usuario" labelPlacement="floating" [(ngModel)]="mdl_usuario"></ion-input>
    </ion-item>

    <ion-item class="fondo input ion-margin-top" lines="none">
      <ion-input type="password" label="Contrasenia" labelPlacement="floating" [(ngModel)]="mdl_contrasena"></ion-input>
    </ion-item>
  <ion-item  class="fondo input ion-margin-top" lines="none">
    <ion-input   type="password" label="Confirmar contrasenia" labelPlacement="floating"  [(ngModel)]="mdl_confirm_contrasena"></ion-input>
  </ion-item>

    <ion-button class="degradado" (click)="registro()" expand="block" >Registrar</ion-button>
  </ion-card>



</div>





<ion-alert 
[isOpen]="isAlertOpen" 
header="ATENCION" 
[message]="mensaje" 
[buttons]="alertButtons"
(didDismiss)="setOpen(false)">
</ion-alert>
</ion-content>

