<ion-header [translucent]="true">
  <ion-toolbar class="degradado">
    <ion-title>Recuperar contrasena</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fondo">
  <div class="center">

    <ion-card style="margin-top: 70px;" class="fondo">

      <ion-img src="assets/forgot.svg"></ion-img>

      <ion-item class="fondo input ion-margin-top" lines="none">
        <ion-input label="Ingrese el usuario" labelPlacement="floating"></ion-input>
      </ion-item>
      <ion-button class="degradado" style="margin-top: 30px" expand="block">Aceptar</ion-button>
    </ion-card>







    <ion-alert 
    [isOpen]="isAlertOpen" 
    header="ATENCION" 
    [message]="mensaje" 
    [buttons]="alertButtons"
    (didDismiss)="setOpen(false)">
    </ion-alert>
  </div>
</ion-content>